<div class="container-fluid bg-primary hdecor">


    <div class="container-fluid cdesign">
        
          
            <div class="ccard">
              <h5 class="ct" style=" line-height: 1.2;">Free, Easy, Reliable, Modern Solution</h5>
              <br>
              <p class="ctc" style=" line-height: 1.1;">Join our campaign and start contributing now or else visit our free store to get medicines</p>
            </div>
          
            <div class="bl">
                <button mat-raised-button (click)="add()" class="bcolor">Contribute</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button (click)="store()" class="bcolor">Visit Store</button>
            </div>
            

    </div>

    
    <div class="hbl">
        <button mat-raised-button class="bcolor" (click)="add()" >Contribute</button>
        <br><br>
        <button mat-raised-button class="bcolor" (click)="store()" >Visit Store</button>
    </div>

</div>


<app-footer></app-footer>